* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: montserrat;
	background-color: rgba(251, 228, 221);
	color: white;

}

h1 {
	text-align: center;
	font-family: Dancing Script;
	color: black;
	padding: 20px;
}

.main-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 10px;
	position: relative;
}

.post-container {
	padding: 20px;
	margin: 15px 4px;
	border-radius: 5px;
	box-shadow: 1px 5px 10px gray;
	overflow: scroll;
}

.post-container h2, h3 {
	text-align: center;
	font-family: Caveat;
	margin: 10px;
}

.post-container p{
	text-align: justify;
}

#day15, #day1 {
	background-color: rgba(114,87,123);
}

#day30 {
	background-color: rgba(204,96,127);
	order: 1;
}

@media (min-width: 768px){
	.main-container{
		display: block;
	}

	.post-container{
		padding: 40px;
	}

	#day15, #day1 {
		width: calc((100% - 16px)/2);
		position: absolute;
		top: 100%;
		height: 510px;
	}

	#day15 {
		left: 50%;
	}
}

@media (min-width: 1024px){
	#day1, #day15 {
		position: static;
		margin: 0;
		width: 30%;
		height: 100%;
	}

	.main-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#day15 {
		order: 1;
	}

	#day30 {
		width: 40%;
		height: 100%;
		margin: 0;
	}

}